<div class="container-fluid root-container">
  <div class="row">
    <div class="col-xs-7 main-content">
      {{outlet}}
    </div>

    <div class="sidebar">
      {{outlet 'sidebar'}}
    </div>
  </div>
</div>
